<style>
    .template-container {
        height:100%;
        margin:auto;
        overflow:hidden;
        text-align:center;
    }

    .gauge {
        display:inline-block;
    }

    .small-gauge {
        height: 80px;
        width: 108px;
    }

    .medium-gauge {
        height: 140px;
        width: 197px;
    }

    .big-gauge {
        height: 240px;
        width: 394px;
    }
</style>
<script>
    (function($){
        $(".gauge").hammer({}).bind("hold", function(ev) {
            //var gauge = $(this);
            //;
            //show gauge option
        });
    })(jQuery);
</script>
<div id="gaugeContainer" class="template-container">
	<div id="speedGauge" class="big-gauge gauge"></div><br />
    <div id="rpmGauge" class="medium-gauge gauge"></div><!--
 --><div id="tmpGauge" class="medium-gauge gauge"></div>

    <div class="hidden" id="gauge-param">
        <table>
            <tr>
                <td>Taille</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>