<style>
    .gauge { display:inline-block; }
    .gauge:active { background-color: #DDD; }

    .small-gauge  { height:  60px; width: 100px; }
    .medium-gauge { height: 120px; width: 200px; }
    .big-gauge    { height: 240px; width: 400px; }
</style>
<script>
    $(".gauge").hammer({}).bind("hold", function(/*e*/) {
        var _this = $(this);
        $('#dialog-box').removeClass('hidden');
        $('#modal').removeClass('hidden');

        $('#modal').unbind('click');
        $('#modal').click(function(){
            $('#modal').addClass('hidden');
            $('#dialog-box').addClass('hidden');
        });

        $('.set-size').unbind('click');
        $('.set-size').click(function(){
            _this.removeClass('small-gauge medium-gauge big-gauge');
            _this.addClass($(this).data('size')+'-gauge');
            _this.children('svg').remove();

            gauges[_this.attr('id')] = new JustGage(gaugesCfg[_this.attr('id')]);
        });

        bindButtons(_this);
    });

    function bindButtons(_gauge){
        $('#discard-param').unbind('click');
        $('#save-param').unbind('click');
        $('#delete-param').unbind('click');

        $('#discard-param').click(function(){
            $('#dialog-box').addClass('hidden');
            $('#modal').addClass('hidden');
        });

        $('#save-param').click(function(){
            $('#dialog-box').addClass('hidden');
            $('#modal').addClass('hidden');
        });

        $('#delete-param').click(function(){
            if(confirm('Do you realy want to delete this gauge ?')){
                _gauge.remove();
            }
            $('#dialog-box').addClass('hidden');
            $('#modal').addClass('hidden');
        });
    }
</script>
<div id="gaugeContainer" class="template-container">
	<div id="speedGauge" class="big-gauge gauge"></div><br />
    <div id="rpmGauge" class="medium-gauge gauge"></div><!--
 --><div id="tmpGauge" class="medium-gauge gauge"></div>
</div>

<div id="dialog-box" class="hidden">
    <div id="dialog-content">
        <div id="dialog-info"><span><i class="icon-dashboard"></i></span></div><!--
        --><div id="real-content">
                <h1>Size :</h1>
                <button class="set-size btn" data-size="small">Small (1:4)</button>
                <button class="set-size btn" data-size="medium">Medium (1:2)</button>
                <button class="set-size btn" data-size="big">Big (1:1)</button>
            </div>
        </div>
    <div id="validation-footer">
        <button class="btn" id="discard-param"><i class="icon-remove"></i>&nbsp;Annuler</button>
        <button class="btn btn-success" id="save-param"><i class="icon-save"></i>&nbsp;Enregistrer</button>
        <button class="btn btn-danger" id="delete-param"><i class="icon-trash"></i>&nbsp;Supprimer</button>
    </div>
</div>