<style>
    .template-settings {
        color: #5a5656;
        padding: 5px 20px;
        text-align:left;
    }

    .template-settings h1 { font-size:1.6em; margin-bottom: 10px; }
    .template-settings h2 { font-size:1em; }

    .app-param {
        height:160px;
        margin-bottom: 20px;
        width:50%;
    }

    #left-param  { float:left; }
    #right-param { float:right; }

    .color-picker{
        border: 1px solid #CCC;
        cursor:pointer;
        display:inline-block;
        height:35px;
        margin:5px;
        width:35px;
    }

    .color-selected {
        border:1px solid #5a5656;
        outline:3px solid #5a5656;
    }

    .app-selector {
        border: 1px solid transparent;
        cursor:pointer;
        display:inline-block;
        font-size: 30px;
        margin: 5px;
        padding:5px;
        text-align:center;
        width:35px;
    }

    .app-selected {
        /*color: #EBE7DE;
        background-color: #5a5656;*/
        outline:4px solid #5a5656;
    }

    #size-container {
        margin:auto;
        text-align:center;
        width:680px;
    }

    .size-demo {
        border:1px solid #CCC;
        cursor:pointer;
        display:inline-block;
        height:72px;
        margin:5px;
        position: relative;
        width:120px;
    }

    .size-demo span {
        height:100%;
        line-height:72px;
        margin:0;
        padding:0;
        position:relative;
        text-align:center;
        vertical-align:middle;
    }

    .size-demo .left  { float:left;  }
    .size-demo .right { float:right; }

    .width-30  { width: 35%; }
    .width-50  { width: 50%; }
    .width-70  { width: 65%; }
    .width-100 { width:100%; }

    .size-selected {
        border: 1px solid #5a5656;
        outline:3px solid #5a5656;
    }
    #arrow-selected {
        font-size:40px;
        position:relative;
        top: 0;
        left: -272px;
    }
</style>
<script>
    $('.size-demo .right').css('background-color', appCfg.app2.color);
    $('.size-demo .left' ).css('background-color', appCfg.app1.color);

    $('.size-demo').click(function(){
        var _this = $(this);
        $('.size-selected').removeClass('size-selected');
        _this.addClass('size-selected');
        $('#arrow-selected').css('left', _this.data('pos'));
    });

    $('.app-selector').click(function(){
        $(this).parent().children('.app-selected').removeClass('app-selected');
        $(this).addClass('app-selected');

        var curApp = $(this).parents('.app-param').data('app');
        appCfg[curApp].app = $(this).data('app');
    });

    $('.color-picker').click(function(){
        $(this).parent().children('.color-selected').removeClass('color-selected');
        $(this).addClass('color-selected');

        var curApp = $(this).parents('.app-param').data('app');
        appCfg[curApp].color = $(this).data('color');

    });

    $('.color-picker').each(function(){
        $(this).css('background-color', $(this).data('color'));

        var curApp = $(this).parents('.app-param').data('app');
        if($(this).data('color') == appCfg[curApp].color) {
            $(this).addClass('color-selected');
        }
    });
</script>
<div class="template-container template-settings">
	<h1>Settings</h1>

    <div id="left-param" class="app-param" data-app="app1">
        <h2>Left application :</h2>
        <table>
            <tr>
                <td>App :</td>
                <td>
                    <span class="app-selector app-selected" data-app="gauge"><i class="icon-dashboard"></i></span>
                    <span class="app-selector" data-app="player"><i class="icon-play"></i></span>
                </td>
            </tr>
            <tr>
                <td>Color :</td>
                <td>
                    <span class="color-picker" data-color="#EBE7DE">&nbsp;</span>
                    <span class="color-picker" data-color="#E76E66">&nbsp;</span>
                    <span class="color-picker" data-color="#1B7E5A">&nbsp;</span>
                    <span class="color-picker" data-color="#579AA9">&nbsp;</span>
                    <span class="color-picker" data-color="#695B8E">&nbsp;</span>
                    <span class="color-picker" data-color="#8C5E7A">&nbsp;</span>
                </td>
            </tr>
        </table>
    </div>

    <div id="right-param" class="app-param" data-app="app2">
        <h2>Right application :</h2>
        <table>
            <tr>
                <td>App :</td>
                <td>
                    <span class="app-selector" data-app="gauge"><i class="icon-dashboard"></i></span>
                    <span class="app-selector app-selected" data-app="player"><i class="icon-play"></i></span>
                </td>
            </tr>
            <tr>
                <td>Color :</td>
                <td>
                    <span class="color-picker" data-color="#EBE7DE">&nbsp;</span>
                    <span class="color-picker" data-color="#E76E66">&nbsp;</span>
                    <span class="color-picker" data-color="#1B7E5A">&nbsp;</span>
                    <span class="color-picker" data-color="#579AA9">&nbsp;</span>
                    <span class="color-picker" data-color="#695B8E">&nbsp;</span>
                    <span class="color-picker" data-color="#8C5E7A">&nbsp;</span>
                </td>
            </tr>
        </table>
    </div>

    <h2>Default display mode :</h2>
    <div id="size-container">
        <span class="size-demo size-selected" data-pos="-272" data-app1-size="400px" data-app2-size="400px">
            <span class="width-50 left">50</span>
            <span class="width-50 right">50</span>
        </span>
        <span class="size-demo" data-pos="-136" data-app1-size="260px" data-app2-size="540px">
            <span class="width-30 left">35</span>
            <span class="width-70 right">65</span>
        </span>
        <span class="size-demo" data-pos="0" data-app1-size="540px" data-app2-size="260px">
            <span class="width-70 left">65</span>
            <span class="width-30 right">35</span>
        </span>
        <span class="size-demo" data-pos="136" data-app1-size="800px" data-app2-size="0">
            <span class="width-100 left">100</span>
            <span class="right"></span>
        </span>
        <span class="size-demo" data-pos="272" data-app1-size="0" data-app2-size="800px">
            <span class="left"></span>
            <span class="width-100 right">100</span>
        </span>

        <span id="arrow-selected"><i class="icon-arrow-up"></i></span>
    </div>

</div>
