<style>
    .template-settings {
        background-color: #EBE7DE;
        color: #232323;
        font-family:'ColabLig';
        padding: 10px 20px;
        text-align:left;
    }

    .table-title {
        padding-right: 10px;
        text-align:right;
    }

    .template-settings h2 { font-size:1.6em; font-weight:normal; }
    .template-settings h3 { font-size:1.1em; font-weight:normal; }

    .app-param {
        height:160px;
        margin-bottom: 50px;
        width:50%;
    }

    #left-param  { float:left; }
    #right-param { float:right; }

    .color-picker{
        border: 1px solid #CCC;
        cursor:pointer;
        display:inline-block;
        height:35px;
        margin:5px;
        width:35px;
    }

    .color-selected {
        border:1px solid #5a5656;
        outline:3px solid #5a5656;
    }

    .app-selector {
        border: 1px solid transparent;
        color: #5a5656;
        cursor:pointer;
        display:inline-block;
        font-size: 30px;
        height:35px;
        margin: 5px;
        padding:0;
        text-align:center;
        width:35px;
    }

    .app-selected {
        /*color: #EBE7DE;
        background-color: #5a5656;*/
        outline:4px solid #5a5656;
    }

    #size-container {
        margin:auto;
        text-align:center;
        width:680px;
    }

    .size-demo {
        border:1px solid #CCC;
        cursor:pointer;
        display:inline-block;
        height:72px;
        margin:5px;
        position: relative;
        width:120px;
    }

    .size-demo span {
        height:100%;
        line-height:72px;
        margin:0;
        padding:0;
        position:relative;
        text-align:center;
        vertical-align:middle;
    }

    .size-demo .left  { float:left;  }
    .size-demo .right { float:right; }

    .width-30  { width: 35%; }
    .width-50  { width: 50%; }
    .width-70  { width: 65%; }
    .width-100 { width:100%; }

    .size-selected {
        border: 1px solid #5a5656;
        outline:3px solid #5a5656;
    }

    #button-container {
        margin:auto;
        margin-top: 20px;
        text-align:center;
        width:250px;
    }
</style>
<script>
    var saved = true;

    $('.size-demo .right').css('background-color', appCfg.app2.color);
    $('.size-demo .left' ).css('background-color', appCfg.app1.color);

    $('#left-param').find('.app-selector[data-app='+appCfg.app1.app[0].name+']').addClass('app-selected');
    $('#right-param').find('.app-selector[data-app='+appCfg.app2.app[0].name+']').addClass('app-selected');

    $('.size-demo').click(function(){
        saved = false;
        var _this = $(this);
        $('.size-selected').removeClass('size-selected');
        _this.addClass('size-selected');

        appCfg.app1.size = $(this).data('app1-size');
        appCfg.app2.size = $(this).data('app2-size');
    });

    $('.app-selector').click(function(){
        saved = false;

        $(this).parent().children('.app-selected').removeClass('app-selected');
        $(this).addClass('app-selected');

        var curApp = $(this).parents('.app-param').data('app');
        appCfg[curApp].app[0].name = $(this).data('app');
        appCfg[curApp].app[0].callback = $(this).data('callback');
    });

    $('.color-picker').click(function(){
        saved = false;

        $(this).parent().children('.color-selected').removeClass('color-selected');
        $(this).addClass('color-selected');

        var curApp = $(this).parents('.app-param').data('app');
        appCfg[curApp].color = $(this).data('color');
    });

    $('.color-picker').each(function(){
        $(this).css('background-color', $(this).data('color'));

        var curApp = $(this).parents('.app-param').data('app');
        if($(this).data('color') == appCfg[curApp].color) {
            $(this).addClass('color-selected');
        }
    });

    $('#save-settings').click(function(){
        saved = true;
        $.post('conf/fm.php', {conf:'app_conf.json', data:JSON.stringify(appCfg)},function(){alert('Conf saved.')});
    });

    $('#cancel-settings').click(function(){
        saved = true;
        $.ajax({dataType:"json",url:'conf/app_conf.json',async:false,success:function(data){
            appCfg=data;
            $('#home').click();
        }});
    });

    $('#home').unbind('click');
    $('#home').click(function(){
        if(!saved){
            $('#cancel-settings').click();
            alert('Attention, vous n\'avez pas sauvegardé vos modifications.');
        } else {
            loadHome();
        }
    });
</script>
<div class="template-container template-settings">
    <div id="left-param" class="app-param" data-app="app1">
        <h2>Left application</h2>
        <table>
            <tr>
                <td class="table-title"><h3>App</h3></td>
                <td>
                    <span class="app-selector" data-app="gauge" data-callback="gaugesInit"><i class="icon-dashboard"></i></span>
                    <span class="app-selector" data-app="player" data-callback="null"><i class="icon-play"></i></span>
                </td>
            </tr>
            <tr>
                <td class="table-title"><h3>Color</h3></td>
                <td>
                    <span class="color-picker" data-color="#EBE7DE">&nbsp;</span>
                    <span class="color-picker" data-color="#E76E66">&nbsp;</span>
                    <span class="color-picker" data-color="#1B7E5A">&nbsp;</span>
                    <span class="color-picker" data-color="#579AA9">&nbsp;</span>
                    <span class="color-picker" data-color="#695B8E">&nbsp;</span>
                    <span class="color-picker" data-color="#8C5E7A">&nbsp;</span>
                </td>
            </tr>
        </table>
    </div>

    <div id="right-param" class="app-param" data-app="app2">
        <h2>Right application</h2>
        <table>
            <tr>
                <td class="table-title"><h3>App</h3></td>
                <td>
                    <span class="app-selector" data-app="gauge" data-callback="gaugesInit"><i class="icon-dashboard"></i></span>
                    <span class="app-selector" data-app="player" data-callback="null"><i class="icon-play"></i></span>
                </td>
            </tr>
            <tr>
                <td class="table-title"><h3>Color</h3></td>
                <td>
                    <span class="color-picker" data-color="#EBE7DE">&nbsp;</span>
                    <span class="color-picker" data-color="#E76E66">&nbsp;</span>
                    <span class="color-picker" data-color="#1B7E5A">&nbsp;</span>
                    <span class="color-picker" data-color="#579AA9">&nbsp;</span>
                    <span class="color-picker" data-color="#695B8E">&nbsp;</span>
                    <span class="color-picker" data-color="#8C5E7A">&nbsp;</span>
                </td>
            </tr>
        </table>
    </div>

    <h2>Default display mode</h2>
    <div id="size-container">
        <span class="size-demo size-selected" data-app1-size="400px" data-app2-size="400px">
            <span class="width-50 left">50</span>
            <span class="width-50 right">50</span>
        </span>
        <span class="size-demo" data-app1-size="260px" data-app2-size="540px">
            <span class="width-30 left">35</span>
            <span class="width-70 right">65</span>
        </span>
        <span class="size-demo" data-app1-size="540px" data-app2-size="260px">
            <span class="width-70 left">65</span>
            <span class="width-30 right">35</span>
        </span>
        <span class="size-demo" data-app1-size="800px" data-app2-size="0">
            <span class="width-100 left">100</span>
            <span class="right"></span>
        </span>
        <span class="size-demo" data-app1-size="0" data-app2-size="800px">
            <span class="left"></span>
            <span class="width-100 right">100</span>
        </span>
    </div>

    <div id="button-container">
        <span class="minbtn minbtn-grey" id="save-settings"><i class="icon-save"></i>&nbsp;&nbsp;Save</span>
        <span class="minbtn minbtn-red" id="cancel-settings"><i class="icon-remove"></i>&nbsp;Cancel</span>
    </div>
</div>
